div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 600px;
    width: 50%;
    margin: 0 auto;

    background-color: aqua;
}

div button {
    font-size: 24px;
}